.icon {
    display:none;
    color: rgb(255, 80, 80);
}

li:hover {
    .icon {
        display:block!important;
        cursor: pointer;
    }
}
 
.down-bar-1 {
   height: 10px;
    border: 1px solid grey;
    background-color: white;
    opacity: 30%;
}


.down-bar-2 {
    height: 10px;
     border: 1px solid grey;
     background-color: white;
     opacity: 30%;
 }


.todo-paper {
    height: 40vh;
}

 .play-write-input {
    font-family: "Playwrite IN", serif;
    font-weight: 400;
 }

 .play-write-item {
    font-family: "Playwrite IN", serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
 }

 .play-write-title {
    font-family: "Playwrite VN", serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: underline;

 }
 

 .empty-message {
    font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }