body {
    background-image: url("https://img.freepik.com/foto-gratis/disposicion-escritorio-plano-espacio-copia_23-2148928165.jpg?t=st=1736943576~exp=1736947176~hmac=76e3a5b81be20edd0562097419f69ea61261d3a56bffac6d413379f11572f827&w=1380");
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon {
    display:none;
    color: rgb(255, 80, 80);
}

li:hover {
    .icon {
        display:block!important;
        cursor: pointer;
    }
}
 
.down-bar-1 {
   height: 10px;
    background-color: rgb(212, 212, 212);
}


.down-bar-2 {
    height: 10px;
     background-color:rgb(200, 200, 200)
 }


.todo-paper {
    height: 40vh;
}

 .play-write-input {
    font-family: "Playwrite IN", serif;
    font-weight: 400;
 }

 .play-write-item {
    font-family: "Playwrite IN", serif;
    font-weight: 100;
    font-optical-sizing: auto;
    font-style: normal;
 }

 .play-write-title {
    font-family: "Playwrite VN", serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: underline;

 }
 

 .empty-message {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
 }
